html,
body {
	width: 100%;
	height: 100%;
	font-size: 14px;
	overflow: hidden;
}

header {
	box-shadow: 0px 4px 35px rgb(41 82 144 / 25%);
	background-color: rgb(210, 210, 210);
	position: absolute;
	width: 90%;
	height: 10%;
	top: 1%;
	left: 3%;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}

.title {
	margin-top: 1%;
	color: black;
	font-size: 28px;
	text-align: center;
	font-family: Open Sans;
	text-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
}


section {
	width: 100%;
	height: 100%;
}

.middle_search {
	position: absolute;
	margin-left: 1%;
	top: 20%;
	width: 94%;
	height: 9%;
	border: 1px solid darkgray;
	opacity: 1;
	border-radius: 5px;
	overflow: auto;
}

.middle_article {
	position: absolute;
	top: 30%;
	margin-left: 1%;
	width: 45%;
	height: 65%;
	background: white;
	border: 1px solid darkgray;
	opacity: 1;
	border-radius: 5px;
	overflow: auto;
}

.middle_article2 {
	position: absolute;
	margin-left: 1%;
	left: 50%;
	top: 30%;
	width: 45%;
	height: 40%;
	background: white;
	border: 1px solid darkgray;
	opacity: 1;
	border-radius: 5px;
	overflow: auto;
	text-align: center;
	font-size: 16px;
}

.msb {
	position: relative;
	width: 10%;
	top: 30%;
	height: 50%;
	left: 86%;
	color: rgba(255, 255, 255, 1);
	background-color: rgb(164, 165, 165);
	border: none;
	border-radius: 5px;
}

.msb:active {
	background: rgb(103, 103, 103);
}

.search_label {
	position: absolute;
	left: 5%;
	top: 25%;
	font-size: 20px;
	color: rgb(32, 34, 37);
}

.search_label2 {
	position: absolute;
	left: 45%;
	top: 25%;
	font-size: 20px;
	color: rgb(32, 34, 37);
}

.Result_table {
	width: 100%;
	height: 10%;
	text-align: center;
}

.Result_tr {
	width: 80%;
	text-align: center;
}

.Result_img {
	width: 1%;
	text-align: center;
}

.Result_name {
	width: 3%;
	color: black;
	text-align: center;
	border: 1px solid darkgrey;
	border-radius: 5px;
	font-size: 16px;
}

.Result_btn {
	width: 1%;
	text-align: center;
}

.Search_Btn {
	width: auto;
	border: none;
	font-size: 18px;
	color: rgba(255, 255, 255, 1);
	background-color: rgb(164, 165, 165);
	font-family: Open Sans;
	border: none;
	border-radius: 5px;
	margin-bottom: 2%;
}

.Search_Btn:active {
	background-color: darkgrey;
}