.e106_231 {
    box-shadow: 0px 4px 35px rgb(41 82 144 / 25%);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid darkgrey;
    width: 35%;
    height: 60%;
    position: absolute;
    left: 10%;
    top: 20%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.e106_232 {
    color: rgba(0, 0, 0, 1);
    width: auto;
    height: auto;
    position: absolute;
    left: 5%;
    top: 5%;
    font-family: Open Sans;
    text-align: left;
    font-size: 20px;
}

.e106_232_1 {
    width: auto;
    height: 7%;
    position: absolute;
    left: 5%;
    top: 18%;
    font-size: 14px;
}

.e106_232_2 {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    width: 43.5%;
    height: 7%;
    position: absolute;
    left: 16%;
    top: 18%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.e106_232_3 {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(164, 165, 165);
    width: 15%;
    height: 7%;
    position: absolute;
    left: 45%;
    top: 6%;
    font-family: Open Sans;
    border: none;
    text-align: CENTER;
    font-size: 13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.e106_232_3:active {
    background: rgb(103, 103, 103);
}

.e106_232_4 {
    width: auto;
    height: 7%;
    position: absolute;
    left: 5%;
    top: 38%;
    font-size: 14px;
}

.e106_232_5 {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    width: 44%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.e106_232_10 {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    width: 34%;
    height: 100%;
    position: absolute;
    left: 45%;
    top: 0%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.e106_232_6 {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(164, 165, 165);
    width: 12%;
    height: 7%;
    position: absolute;
    left: 48%;
    top: 28%;
    font-family: Open Sans;
    border: none;
    text-align: CENTER;
    font-size: 13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.e106_232_6:active {
    background: rgb(103, 103, 103);
}

.e106_232_7 {
    width: auto;
    height: 7%;
    position: absolute;
    left: 5%;
    top: 28%;
    font-size: 12.5px;
}

.e106_232_8 {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    width: 30%;
    height: 7%;
    position: absolute;
    left: 16%;
    top: 28%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.e106_232_9 {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(164, 165, 165);
    width: 20%;
    height: 100%;
    position: absolute;
    left: 80%;
    top: 0%;
    font-family: Open Sans;
    border: none;
    text-align: CENTER;
    font-size: 13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.e106_232_9:active {
    background: rgb(103, 103, 103);
}

.e106_233 {
    box-shadow: 0px 4px 35px rgb(41 82 144 / 25%);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid darkgrey;
    width: 35%;
    height: 60%;
    position: absolute;
    left: 55%;
    top: 20%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.e106_234 {
    color: rgba(0, 0, 0, 1);
    width: auto;
    height: auto;
    position: relative;
    left: 5%;
    top: 5%;
    font-family: Open Sans;
    text-align: left;
    font-size: 20px;
}

.e106_235 {
    position: absolute;
    border: 1px solid darkgray;
    left: 65%;
    top: 5%;
    width: 30%;
    height: 50%;
}

.e106_235_1 {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(164, 165, 165);
    width: 12%;
    height: 7%;
    position: absolute;
    left: 74%;
    top: 58%;
    font-family: Open Sans;
    border: none;
    text-align: CENTER;
    font-size: 13px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.e106_235_1:active {
    background: rgb(103, 103, 103);
}

.keywordSelect {
    width: 44%;
    height: 6.5%;
    position: absolute;
    left: 16%;
    top: 38%;
}

.keybox {
    position: absolute;
    width: 55%;
    height: 50%;
    top: 48%;
    left: 5%
}

.e106_236 {
    position: absolute;
    border: 1px solid darkgray;
    border-radius: 5px;
    left: 5%;
    top: 15%;
    width: 90%;
    height: 80%;
}